# Dependencies
/node_modules
/.pnp
.pnp.*

# Yarn & PNPM
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-debug.log*

# Output
/.next/
.build/
out/
deploy/

# Coverage & Testing
/coverage

# System files
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Vercel & Netlify
.vercel
.netlify

# TypeScript
*.tsbuildinfo
next-env.d.ts
